
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('{{ asset("img/brand/error404.gif") }}');
    background-position: center;
    background-repeat: no-repeat;
}
.center {
    text-align: center;
    color: white;
}
.center img {
    max-width: 100%;
    height: auto;
}
h1 {
    color: #dc3545;
}
