.text-green {
    background-color: #00ff37;
}
.text-red {
    background-color: #ff0000;
}
.text-black {
    background-color: #000000;
}
.text-yellow {
    background-color: #fffb00;
}
.text-pink {
    background-color: #e45ebc;
}
.text-purple {
    background-color: #572364;
}
.text-cian {
    background-color: #2BFFC6;
}
.text-greey{
    background-color: #ACB2B7;
}
